<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Define all links -->
  <link name="world" />
  <link name="tool_link" />
 
  <xacro:arctos_link
    name="base_link"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    material_name="white"
    inertia_origin_xyz="0.0009375030874740357 0.047087016508753216 0.06663230338123677"
    inertia_origin_rpy="0 0 0"
    mass="2.3"
    ixx="0.0143" iyy="0.0055" izz="0.015" ixy="0.0" iyz="0.0" ixz="0.0"
  />

  <xacro:arctos_link
    name="Link_1_1"
    origin_xyz="-0.0 -0.000 -0.1126" origin_rpy="0 0 0"
    material_name="white"
    inertia_origin_xyz="-0.0088 -0.0005 ${0.2116-0.1126}" inertia_origin_rpy="0 0 0"
    mass="3.0396"
    ixx="0.0143" iyy="${0.0168*0.96536}" izz="${0.0084*0.96082}" ixy="${0.0143*-0.03956}"
    ixz="${0.0143*-0.11546}" iyz="${0.0168*0.25198}"
  />

  <xacro:arctos_link
    name="Link_2_1"
    origin_xyz="0.0 0.020356 -0.2876" origin_rpy="0 0 0"
    material_name="white"
    inertia_origin_xyz="0.0042 ${-0.0098+0.020356} ${0.4174-0.2876}" inertia_origin_rpy="0 0 0"
    mass="2.527"
    ixx="${0.0282*0.99851}" iyy="${0.03*0.99865}" izz="${0.0063*0.99982}" ixy="${0.0282*0.05146}"
    iyz="${0.03*-0.00591}" ixz="${0.0282*-0.01813}"
  />

  <xacro:arctos_link
    name="Link_3_1"
    origin_xyz="-0.0 0.019045 -0.54864" origin_rpy="0 0 0"
    material_name="white"
    inertia_origin_xyz="0.00158 -0.053 0.009" inertia_origin_rpy="0 0 0"
    mass="0.87"
    ixx="${0.0028*0.99944}" iyy="${0.0011*0.98426}" izz="${0.0027*0.98428}" ixy="${0.0028*-0.02203}"
    iyz="${0.001*-0.17481}" ixz="${0.0028*0.02507}"
  />

  <xacro:arctos_link
    name="Link_4_1"
    origin_xyz="0.0 0.1578 -0.5704" origin_rpy="0 0 0"
    material_name="white"
    inertia_origin_xyz="0.0 -0.0535 -0.001733" inertia_origin_rpy="0 0 0"
    mass="1.006"
    ixx="${0.0021*0.99726}" iyy="${0.0024*0.99801}" izz="${0.0032*0.99925}" ixy="${0.0021*-0.6305}"
    iyz="${0.0024*0.00082}" ixz="${0.0021*0.03862}"
  />

  <xacro:arctos_link
    name="Link_5_1"
    origin_xyz="0.0 0.2832 -0.56856" origin_rpy="0 0 0"
    material_name="white"
    inertia_origin_xyz="-0.0007 -0.0142 -0.0008" inertia_origin_rpy="0 0 0"
    mass="0.3344"
    ixx="0.0002" iyy="0.0005" izz="0.0005" ixy="0.0" iyz="0.0" ixz="0.0"
  />

  <xacro:arctos_link
    name="Link_6_1"
    origin_xyz="0.0 0.323 -0.5685" origin_rpy="0 0 0"
    material_name="white"
    inertia_origin_xyz="-0.0 -0.0 0.0" inertia_origin_rpy="0.0 0.0 0.0"
    mass="1e-3"
    ixx="1e-3" iyy="1e-3" izz="1e-3" ixy="-0.0" iyz="0.0" ixz="0.0"
  />

  <!-- Define all joints -->
  <joint name="base_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
  </joint>

  <xacro:arctos_joint
    name="X_joint" type="continuous"
    parent="base_link" child="Link_1_1"
    origin_xyz="0.0 0.0 0.1126" origin_rpy="0 0 0"
    axis_xyz="-0.0 0.0 1.0"
    limit_u="${pi}" limit_l="${-pi}" limit_e="24.3" limit_v="15.0"
  />

  <xacro:arctos_joint
    name="Y_joint" type="continuous"
    parent="Link_1_1" child="Link_2_1"
    origin_xyz="0.0 -0.020356 ${0.2876-0.1126}" origin_rpy="0 0 0"
    axis_xyz="1.0 -0.0 -0.0"
    limit_u="2.18" limit_l="-0.96" limit_e="270.0" limit_v="1.4"
  />

  <xacro:arctos_joint
    name="Z_joint" type="continuous"
    parent="Link_2_1" child="Link_3_1"
    origin_xyz="0.0 0.001365 0.261035" origin_rpy="0 0 0"
    axis_xyz="1.0 -0.0 0.0"
    limit_u="${70/180*pi}" limit_l="${-pi/2}" limit_e="97.0" limit_v="1.4"
  />

  <xacro:arctos_joint
    name="A_joint" type="continuous"
    parent="Link_3_1" child="Link_4_1"
    origin_xyz="0 -0.13881 0.0217651" origin_rpy="0 0 0"
    axis_xyz="-0.0 1.0 -0.0"
    limit_u="${pi}" limit_l="${-pi}" limit_e="22.0" limit_v="4.4"
  />

  <xacro:arctos_joint
    name="B_joint" type="continuous"
    parent="Link_4_1" child="Link_5_1"
    origin_xyz="0.0 -0.12543 -0.00184" origin_rpy="0 0 0"
    axis_xyz="-1.0 -0.0 0.0"
    limit_u="1.55" limit_l="-1.55" limit_e="16.0" limit_v="3.0"
  />

  <xacro:arctos_joint
    name="C_joint" type="continuous"
    parent="Link_5_1" child="Link_6_1"
    origin_xyz="0.0 -0.0398 0.0" origin_rpy="0 0 0"
    axis_xyz="-0.0 1.0 -0.0"
    limit_u="${pi}" limit_l="${-pi}" limit_e="16.0" limit_v="3.0"
  />

  <joint name ="hand_tool_joint" type="fixed">
    <parent link="Link_6_1"/>
    <child link="tool_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  
  <!-- Activate Gazebo plugin -->
  <!-- <xacro:arctos_gazebo /> -->

</robot>