<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
  <ros2_control name="arm" type="system">
    <hardware>
      <!-- By default, set up controllers for simulation. This won't work on real hardware -->
      <!-- <plugin>mock_components/GenericSystem</plugin> -->
      <plugin>arctos_hardware_interface/ArctosHardwareInterface</plugin>
      <param name='can_interface'>can0</param>
      <param name='gear_ratio_X'>13.5</param>
      <param name='gear_ratio_Y'>150.0</param>
      <param name='gear_ratio_Z'>150.0</param>
      <param name='gear_ratio_A'>48.0</param>
      <param name='gear_ratio_B'>67.82</param>
      <param name='gear_ratio_C'>67.82</param>
      <param name='accel'>10</param> 
      <param name='vel'>100</param>
      <param name='can_id_X'>1</param>
      <param name='can_id_Y'>2</param>
      <param name='can_id_Z'>3</param>
      <param name='can_id_A'>4</param>
      <param name='can_id_B'>5</param>
      <param name='can_id_C'>6</param>  

    </hardware>
    <joint name="X_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
    </joint>
    <joint name="Y_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
    </joint>
    <joint name="Z_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
    </joint>
    <joint name="A_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
    </joint>
    <joint name="B_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
    </joint>
    <joint name="C_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
    </joint>
  </ros2_control>

  <ros2_control name="gripper" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
    </hardware>
    <joint name="Right_jaw_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

  </ros2_control>
    
</robot>
