# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # todo: 100Hz - High rate for smooth EMA filtering

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    gripper_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - X_joint
      - Y_joint
      - Z_joint
      - A_joint
      - B_joint
      - C_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
    allow_nonzero_velocity_at_trajectory_end: true
    open_loop_control: false
    # constraints:
    #   stopped_velocity_tolerance: 1000.0
    #   goal_time: 0.0
    #   X_joint: {trajectory: 1000.0, goal: 1000.0}
    #   Y_joint: {trajectory: 1000.0, goal: 1000.0}
    #   Z_joint: {trajectory: 1000.0, goal: 1000.0}
    #   A_joint: {trajectory: 1000.0, goal: 1000.0}
    #   B_joint: {trajectory: 1000.0, goal: 1000.0}
    #   C_joint: {trajectory: 1000.0, goal: 1000.0}
    allow_partial_joints_goal: true
    allow_integration_in_goal_trajectories: true

gripper_controller:
  ros__parameters:
    joints:
      - Right_jaw_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
    allow_nonzero_velocity_at_trajectory_end: true