# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 50  # todo: 100Hz - High rate for smooth EMA filtering

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      
    gripper_controller:
      # type: parallel_gripper_action_controller/GripperActionController
      type: joint_trajectory_controller/JointTrajectoryController
      # type: gripper_controllers/GripperActionController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - X_joint
      - Y_joint
      - Z_joint
      - A_joint
      - B_joint
      - C_joint

    interface_name: position
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    allow_nonzero_velocity_at_trajectory_end: true
    open_loop_control: false
    allow_partial_joints_goal: true
    allow_integration_in_goal_trajectories: true

gripper_controller:
  ros__parameters:
    joints: 
      - Right_jaw_joint
    # interface_name: position
    command_interfaces:
      - position
    state_interfaces:
      - position
      # - velocity
    # allow_nonzero_velocity_at_trajectory_end: true
    # open_loop_control: false
    # allow_partial_joints_goal: true
    # allow_integration_in_goal_trajectories: true

    # action_monitor_rate: 20.0
    # allow_stalling: false
    # goal_tolerance: 0.01
    # stall_timeout: 1.0Right_jaw_joint
    # action_monitor_rate: 20.0
    # allow_stalling: false
    # goal_tolerance: 0.01
    # stall_timeout: 1.0
    # stall_velocity_threshold: 0.001

# joint_state_broadcaster:
#   ros__parameters:
#     extra_joints:  # Explicitly publish mimic joints
#       - Left_jaw_joint
