# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 50  # todo: 100Hz - High rate for smooth EMA filtering

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      
    gripper_controller:
      # type: parallel_gripper_action_controller/GripperActionController
      type: joint_trajectory_controller/JointTrajectoryController
      # type: gripper_controllers/GripperActionController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - X_joint
      - Y_joint
      - Z_joint
      - A_joint
      - B_joint
      - C_joint

    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    
    constraints:
      # to ensure the robot is physically still before the next MTC stage begins.
      stopped_velocity_tolerance: 0.005
      # If not set, the controller may report "Success" while the arm is still oscillating.
      # goal_tolerance: 0.001      
      goal_time: 3.0  # wait up to 2s to reach goal
      # X_joint: {trajectory: 0.25, goal: 0.05}
      # Y_joint: {trajectory: 0.25, goal: 0.05}
      # Z_joint: {trajectory: 0.25, goal: 0.05}
      # A_joint: {trajectory: 0.25, goal: 0.05}
      # B_joint: {trajectory: 0.25, goal: 0.05}
      # C_joint: {trajectory: 0.25, goal: 0.05} 

      # Right_jaw_joint:
      #   trajectory: 0.05
      #   goal: 0.01

    # allow_nonzero_velocity_at_trajectory_end: true
    open_loop_control: false
    allow_partial_joints_goal: true
    # help the controller interpolate smooth transitions between MTC waypoints.
    allow_integration_in_goal_trajectories: true

    state_publish_rate: 25.0 # Feedback rate for MoveIt 
    action_monitor_rate: 10.0

gripper_controller:
  ros__parameters:
    joints: 
      - Right_jaw_joint
    # interface_name: position
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity

    # action_monitor_rate: 20.0
    # goal_tolerance: 0.01
    # stopped_velocity_tolerance: 0.005

    # Crucial for MTC: Don't fail if the gripper hits the object and stops
    allow_stalling: true
    stall_timeout: 1.0
    stall_velocity_threshold: 0.001

# joint_state_broadcaster:
#   ros__parameters:
#     extra_joints:  # Explicitly publish mimic joints
#       - Left_jaw_joint
